// ----------------------------------------
// wait animation
.wt
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: url(wait.gif) 50% 50% no-repeat;
    background-size: 52px;
}
