<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ISS Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <!--link rel="stylesheet" type="text/css" href="static/"-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>

    <!-- NAGŁÓWEK -->

    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="row">
            <div class="col-auto">
                <h1 class="text-light"><object data="img/pcb_design.svg" class="logo vab" type="image/svg+xml"></object>ISS Lab</h1>
            </div>
        </div>
        <div class="row m4px">
            <div class="col text-light larger" style="margin-left:22px;">
                <b>Home</b> &nbsp;&nbsp; 
                <a class=text-light href="/symulacja">Symulacja</a>
            </div>
        </div>
    </div>

    <h2>Model obiektu</h2>

    <div class="chart-box">
        <img src="img/schemat.png" width=706>
    </div>

</body>

</html>