</html>

<head>
    <meta charset="UTF-8">
    <title>ISS Lab</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="staric/">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/main.js"></script>

</head>

<body>
    <header>
        <h1>ISS Lab</h1>
    </header>
    <div class="parameters-box">
        <div class="parameters-row">
            <span>Start height: <input id="par-1" name="start_level" value="2"></span>
            <span>Min height: <input id="par-2" name="min_height" value="1"></span>
            <span>Max height: <input id="par-3" name="max_height" value="10"></span>
            <span>Area: <input id="par-4" name="area" value="2"></span>
            <span></span>
        </div>

        <div class="parameters-row">
            <span>Start temp: <input id="par-5" name="start_temp" value="22"></span>
            <span>Target temp: <input id="par-6" name="target_temp" value="66"></span>
            <span>Max temp error: <input id="par-7" name="max_temp_error" value="3"></span>
            <span>Heater max power: <input id="par-8" name="heater_max_power" value="2000"></span>
            <span>Max fluid input: <input id="par-9" name="max_fluid_input" value="0.1"></span>
        </div>
        <div class="parameters-row">
            <span>input_fluid_temp: <input id="par-10" name="input_fluid_temp" value="15"></span>
            <span>beta: <input id="par-11" name="beta" value="0.035"></span>
            <span>ticks_per_second: <input id="par-12" name="ticks_per_second" value="1000"></span>
            <span>sim_time: <input id="par-13" name="sim_time" value="600"></span>
            <span>
                Controler
                <select id="par-14" name="controller" value="none">
                    <option value="none">none</option>
                    <option value="PID">PID</option>
                    <option value="fuzzy">fuzzy</option>
                  </select>
            </span>
        </div>

        <span><button onClick="iss_go()">Go</button></span>
    </div>
    <div class="chart-box">
        <div id="chart_par"style="display:none;">
            <img id="plot" name="chart" src="{{url_for('static', filename='plot.png')}}" />
        </div>

    </div>
</body>

</html>